:host {
  display: block;
  min-height: 100dvh;
}

.app-shell {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
}

.app-content {
  flex: 1 0 auto;
  display: block;
  min-height: calc(100dvh - 4.5rem);
}
